<!-- THIS IS THE INFO TO BE INSERTED IN THE RIGHT SIDE OF CONTENT -->


<div class="right-side" style="display: flex; flex-direction: row;">
    <div class="map-quests" style="flex:auto; height: 600px; width: 300px; padding: 20px;">
        <div>
            Buildings:
        </div>
        <form action="/admin/setup/map" method="POST" name="bldg-post">
        <div style="display: flex;">
            <div>
                <input type="text" value="<%= bldgTbl[0].bldg_name %>" name="bldg-1" readonly= true className="disabled" style="background-color: gray; color: white; border: none; padding: 5px;">
                <p>Floor Count: <%= bldgTbl[0].flr_count %></p>
                <p>Classroom Count:  <%= bldgTbl[0].room_count %></p>
            </div>
            <div style="flex:auto; width: 100px; padding: 10px;">
                <div>
                    <div class="view-btn-bldg" style="cursor: pointer;" onclick="closeInputBldg('bldg-1')">
                        👆
                    </div>
                    <div class="edit-btn-bldg" style="cursor: pointer;" onclick="openInputBldg('bldg-1')">
                        📝
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex;">
            <div> 
                <input type="text" value="<%= bldgTbl[1].bldg_name %>" name="bldg-2" readonly= true className="disabled" style="background-color: gray; color: white; border: none; padding: 5px;">
                <p>Floor Count: <%= bldgTbl[1].flr_count %></p>
                <p>Classroom Count:  <%= bldgTbl[1].room_count %></p>
            </div>
            <div style="flex:auto; width: 100px; padding: 10px;">
                <div class="view-btn-bldg" style="cursor: pointer;" onclick="closeInputBldg('bldg-2')">
                    👆
                </div>
                <div class="edit-btn-bldg" style="cursor: pointer;" onclick="openInputBldg('bldg-2')">
                    📝
                </div>
            </div>
        </div>


        <div style="display: flex;">
            <div >
                <input type="text" value="<%= bldgTbl[2].bldg_name %>" name="bldg-3" readonly= true className="disabled" style="background-color: gray; color: white; border: none; padding: 5px;">
                <p>Floor Count: <%= bldgTbl[2].flr_count %></p>
                <p>Classroom Count:  <%= bldgTbl[2].room_count %></p>
            </div>
            <div style="flex:auto; width: 100px; padding: 10px;">
                <div class="view-btn-bldg" style="cursor: pointer;" onclick="closeInputBldg('bldg-3')">
                    👆
                </div>
                <div class="edit-btn-bldg" style="cursor: pointer;" onclick="openInputBldg('bldg-3')">
                    📝
                </div>
            </div>
        </div>


        <div style="display: flex;">
            <div>
                <input type="text" value="<%= bldgTbl[3].bldg_name %>" name="bldg-4" readonly= true className="disabled" style="background-color: gray; color: white; border: none; padding: 5px;">
                <p>Floor Count: <%= bldgTbl[3].flr_count %></p>
                <p>Classroom Count:  <%= bldgTbl[3].room_count %></p>  
            </div>
            <div style="flex:auto; width: 100px; padding: 10px;">
                <div class="view-btn-bldg" style="cursor: pointer;" onclick="closeInputBldg('bldg-4')">
                    👆
                </div>
                <div class="edit-btn-bldg" style="cursor: pointer;" onclick="openInputBldg('bldg-4')">
                    📝
                </div>
            </div>
        
        </div>
        <input onclick="enableAll()" type="submit" value="RENAME ALL" >
        </form>
        

    </div>
    
    <div class="edit-map" style="flex:auto; height: 600px; width: 800px;">
        <% console.log(tbl) %>    
        <!-- bldg2 -->
        <div class="bldg-divs" id="bldg-1-div" hidden>
            <table >
                <thead>
                    <tr>
                        <th scope="col" class="table-light" style="width: 50%">Question</th>
                        <th scope="col" class="table-light" style="width: 15%">Type</th>
                        <th scope="col" class="table-light" style="width: 10%">Coordinates</th>
                        <th scope="col" class="table-light" style="width: 25%">Designation</th>
                    </tr>
                </thead>
                <tbody style="font-size: 10px">
    
                        <% for (let i = 0; i < tbl.length; i++ ) {%>
                        <tr>
                            <% if (`${tbl[i].coordinate}`[0] === "1") { %>
                                <td><%= tbl[i].question %></td> 
                                <td><%= tbl[i].quest_type %></td>
                                <td><%= tbl[i].coordinate %></td>
                                <% if (tbl[i].npc_id === null) { %>
                                    <td><%= tbl[i].room_name %></td>
                                <% } else { %>
                                    <td><%= tbl[i].npc_name %></td>
                                <% } %> 
                            <% } %>
                        </tr>
                            
                        <% }; %>
    
    
                </tbody>
            </table>

        </div>
        <!-- bldg2 -->
        <div class="bldg-divs" id="bldg-2-div" hidden>
            <table >
                <thead>
                    <tr>
                        <th scope="col" class="table-light" style="width: 50%">Question</th>
                        <th scope="col" class="table-light" style="width: 15%">Type</th>
                        <th scope="col" class="table-light" style="width: 10%">Coordinates</th>
                        <th scope="col" class="table-light" style="width: 25%">Designation</th>
                    </tr>
                </thead>
                <tbody style="font-size: 10px">

                        <% for (let i = 0; i < tbl.length; i++ ) {%>
                        <tr>
                            <% if (`${tbl[i].coordinate}`[0] === "2") { %>
                                <td><%= tbl[i].question %></td> 
                                <td><%= tbl[i].quest_type %></td>
                                <td><%= tbl[i].coordinate %></td>
                                <% if (tbl[i].npc_id === null) { %>
                                    <td><%= tbl[i].room_name %></td>
                                <% } else { %>
                                    <td><%= tbl[i].npc_name %></td>
                                <% } %> 
                            <% } %>
                        </tr>
                            
                        <% }; %>
    
    
                </tbody>
            </table>

        </div>
        <!-- bldg3 -->
        <div class="bldg-divs" id="bldg-3-div" hidden>
            <table >
                <thead>
                    <tr>
                        <th scope="col" class="table-light" style="width: 50%">Question</th>
                        <th scope="col" class="table-light" style="width: 15%">Type</th>
                        <th scope="col" class="table-light" style="width: 10%">Coordinates</th>
                        <th scope="col" class="table-light" style="width: 25%">Designation</th>
                    </tr>
                </thead>
                <tbody style="font-size: 10px">
    
                        <% for (let i = 0; i < tbl.length; i++ ) {%>
                        <tr>
                            <% if (`${tbl[i].coordinate}`[0] === "3") { %>
                                <td><%= tbl[i].question %></td> 
                                <td><%= tbl[i].quest_type %></td>
                                <td><%= tbl[i].coordinate %></td>
                                <% if (tbl[i].npc_id === null) { %>
                                    <td><%= tbl[i].room_name %></td>
                                <% } else { %>
                                    <td><%= tbl[i].npc_name %></td>
                                <% } %> 
                            <% } %>
                        </tr>
                            
                        <% }; %>
    
    
                </tbody>
            </table>

        </div>
        <!-- bldg4 -->
        <div class="bldg-divs" id="bldg-4-div" hidden>
            <table >
                <thead>
                    <tr>
                        <th scope="col" class="table-light" style="width: 50%">Question</th>
                        <th scope="col" class="table-light" style="width: 15%">Type</th>
                        <th scope="col" class="table-light" style="width: 10%">Coordinates</th>
                        <th scope="col" class="table-light" style="width: 25%">Designation</th>
                    </tr>
                </thead>
                <tbody style="font-size: 10px">
    
                        <% for (let i = 0; i < tbl.length; i++ ) {%>
                        <tr>
                            <% if (`${tbl[i].coordinate}`[0] === "4") { %>
                                <td><%= tbl[i].question %></td> 
                                <td><%= tbl[i].quest_type %></td>
                                <td><%= tbl[i].coordinate %></td>
                                <% if (tbl[i].npc_id === null) { %>
                                    <td><%= tbl[i].room_name %></td>
                                <% } else { %>
                                    <td><%= tbl[i].npc_name %></td>
                                <% } %> 
                            <% } %>
                        </tr>
                            
                        <% }; %>
    
    
                </tbody>
            </table>

        </div>

    </div>
    
</div>



<script>
    function openInputBldg(num){
        document.forms["bldg-post"][num].readOnly = false;
        document.forms["bldg-post"][num].style.backgroundColor = "white";
        document.forms["bldg-post"][num].style.color = "black"
    }
    function closeInputBldg(num){
        document.forms["bldg-post"][num].readOnly = true;
        document.forms["bldg-post"][num].style.backgroundColor = "gray";
        document.forms["bldg-post"][num].style.color = "white";
        const divBldgList = document.querySelectorAll(`.bldg-divs`);
        divBldgList.forEach(div=>{
            if(div.id === num+"-div"){
                div.hidden = false;
            }else {
                div.hidden = true;
            } 
        }) 
    }
    function enableAll(){ 
        document.forms["bldg-post"].forEach(doc=>{
            doc.readOnly = false;
        }) 
    }
    

</script>

