<div  class="delete-bg" style="margin-left: 9.5rem;">
<div id="delete-cont" class="delete-cont" >

<% if (route === "npc") { %>

    <form name="delete-npc-forms" action="/admin/setup/npc/delete/<%= String(npcDesigChoice[0].npc_id) %>" >
        <h1>Are you sure you want to delete <span style="color: rgb(86, 12, 12); text-decoration: underline;"><%= npcDesigChoice[0].npc_name %></span> with and ID of: <span style="color: rgb(36, 65, 230); font-weight: bold;"><%= npcDesigChoice[0].npc_id %></span></h1>
        <div class="d-flex justify-content-end">
            
            <a href="/admin/setup/npc/" id="delete-back-btn-1" class="btn btn-secondary">Back</a>
            <a id="delete-npc-forms" class="btn btn-danger" onclick="deleteRequest('<%= npcDesigChoice[0].npc_id %>','npc')" href="/admin/setup/npc/">Delete</a>
        </div>
    </form>

<% } else if (route === "quest") { %> 

    <form name="delete-quest-forms" action="/admin/setup/quest/delete/<%= String(questDesigChoice[0].quest_id) %>" >
        <h1 >Are you sure you want to delete  <span style="color: rgb(86, 12, 12); text-decoration: underline;"><%= questDesigChoice[0].question %></span> with and ID of: <span style="color: rgb(36, 65, 230); font-weight: bold;"><%= questDesigChoice[0].quest_id %></span></h1>
        <div class="d-flex justify-content-end">
            
        <a href="/admin/setup/quest/" id="delete-back-btn-1"  class="btn btn-secondary">Back</a>
        <a id="delete-quest-forms" class="btn btn-danger" onclick="deleteRequest('<%= questDesigChoice[0].quest_id %>','quest')" href="/admin/setup/quest/">Delete</a>
        </div>
    </form>

<% } else if (route === "classroom") { %>

    <form name="delete-room-forms" action="/admin/setup/room/delete/<%= String(roomDesigChoice[0].room_id) %>" >
        <h1>Are you sure you want to delete <span style="color: rgb(86, 12, 12); text-decoration: underline;"> <%= roomDesigChoice[0].room_name %></span> with and ID of: <span style="color: rgb(36, 65, 230); font-weight: bold;"><%= roomDesigChoice[0].room_id %></span></h1>
       <div class="d-flex justify-content-end">
        
        <a href="/admin/setup/classroom/" id="delete-back-btn-1"  class="btn btn-secondary">Back</a>
        <a id="delete-room-forms" class="btn btn-danger" onclick="deleteRequest('<%= roomDesigChoice[0].room_id %>','classroom')" href="/admin/setup/classroom/">Delete</a>
       </div>
    </form>

<% } else if (route === "student") { %>

    <form name="delete-student-forms" action="/admin/setup/student/delete/<%= String(userDesigChoice[0].user_id) %>" >
        <h1>Are you sure you want to delete <span style="color: rgb(86, 12, 12); text-decoration: underline;"> <%= userDesigChoice[0].user_name %></span> with and ID of: <span style="color: rgb(36, 65, 230); font-weight: bold;"><%= userDesigChoice[0].user_id %></span></h1>
       <div class="d-flex justify-content-end">
        
        <a href="/admin/setup/student/" id="delete-back-btn-1"  class="btn btn-secondary">Back</a>
        <a id="delete-student-forms" class="btn btn-danger" onclick="deleteRequest('<%= userDesigChoice[0].user_id %>','student')" href="/admin/setup/student/">Delete</a>
       </div>
    </form>

<%} %>
</div>
</div>