<div class="table-responsive">
    <table class="table align-middle table-bordered table-dark table-hover">
        <thead>
            <tr>
                <th scope="col" class="table-light">ID</th>
                <th scope="col" class="table-light">QUESTION</th>
                <th scope="col" class="table-light">TYPE</th>
                <th scope="col" class="table-light">NPC</th>
                <th scope="col" class="table-light">ROOM</th>
                <th scope="col" class="table-light">Edit</th>
                <th scope="col" class="table-light">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < questDesigTable.length; i++ ) {%>
                <tr>
                    <td>
                        <%= String(questDesigTable[i].quest_id) %>
                    </td>
                    <td>
                        <%= String(questDesigTable[i].question)  %>
                    </td>
                    <td>
                        <%= String(questDesigTable[i].quest_type)  %>
                    </td>
                    <td>
                        <%= String(questDesigTable[i].npc_name)  %>
                    </td>
                    <td>
                        <%= String(questDesigTable[i].room_name)  %>
                    </td>  
                    <td class="<%= String(questDesigTable[i].quest_id) %>">📝</td> 
                    <td class="<%= String(questDesigTable[i].quest_id) %>">🗑️</td>    
                </tr>     
                <% }; %>
        </tbody>
    </table>
</div>